.tf{
    -fx-margin: 50px;
    -fx-display: block;
    -fx-prompt-text-fill: #000000;
    -fx-border: solid 2px black;
}
.tf:focus{
    border-color: aqua;
}
.button{
    -fx-background-color: rgb(12, 36, 250);
    -fx-text-fill:white;
}
.button.button:pressed{
    -fx-text-fill:rgb(12, 36, 250);
}


.div{
    -fx-spacing: 20px;
    -fx-alignment: center;
    -fx-padding: 20px;
    -fx-background-color: white;
}
}
.main{
    -fx-background-image: url("img/login-bg.jpeg");
}
.h1{
    -fx-text-fill: black;
}